
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SBank</a>
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" data-loggedin=false routeLink="home">Home</a>
            </li>
           
            <li class="nav-item dropdown" data-logged="false" *ngIf="loggedInUser">
                <a class="nav-link dropdown-toggle disabled" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="account_type_list.html" data-loggedin=false>Account Types</a>    
                    <a class="dropdown-item" href="branch_list.html" data-loggedin=false>List Branches</a>                
                </div>
            </li>
            
            <li class="nav-item dropdown" data-loggedin="true" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="loggedInUser && loggedInUser.role=='USER'">Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <!-- <a class="dropdown-item" routerLink="deposit" data-loggedin=true>Deposit</a>
                     <a class="dropdown-item" routerLink="withdraw" data-loggedin=true>Withdraw</a>
                     <a class="dropdown-item " routerLink="fund-transfer" data-loggedin=true>Fund Transfer</a>
                    <a class="dropdown-item" routerLink="view-transactions" data-loggedin=true>View Transactions</a> -->
                    <a class="dropdown-item" routerLink="my-accounts" data-loggedin=true> My Accounts</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown" data-loggedin="true" *ngIf="loggedInUser && loggedInUser.role=='USER'">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Payments</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="view-payees">List Payee</a>          
                    <a class="dropdown-item" routerLink="add-payee" data-loggedin=true>Add Payee</a>
                    <a class="dropdown-item disabled" href="recharge.html" data-loggedin=true>Recharge</a>
                </div>
            </li>
            <li class="nav-item dropdown" data-loggedin=true *ngIf="loggedInUser && loggedInUser.role=='USER'">
                <a class="nav-link dropdown-toggle disabled" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CreditCard</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="add_creditcard.html" data-loggedin=true *ngIf="loggedInUser">Add Credit Card</a>          
                    <a class="dropdown-item" href="list_creditcard.html" data-loggedin=true *ngIf="loggedInUser">List Credit Card</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown" data-loggedin="true" *ngIf="loggedInUser && loggedInUser.role=='ADMIN'">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="users">List Users</a>          
                    <a class="dropdown-item" routerLink="employees" data-loggedin=true>List Employees</a>
                    
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create-account" data-loggedin=true *ngIf="loggedInUser">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="verify-account" data-loggedin=true *ngIf="loggedInUser && loggedInUser.role=='ADMIN'">Account Activation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="kyc.html" data-loggedin=true *ngIf="loggedInUser" >KYC</a>
            </li>
            
            
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink="login" data-loggedin=false *ngIf="!loggedInUser">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register" data-loggedin=false *ngIf="!loggedInUser">Register</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
                <a class="nav-link" href="" data-loggedin=true style="display: block;" > 
                    Welcome {{loggedInUser.name}} ( {{loggedInUser.id}} )</a>
            </li>
            <li class="nav-item" *ngIf="loggedInUser">
                <a class="nav-link" href="" (click)="logout()" data-loggedin=true >(Logout) </a>
            </li>
        </ul>
        
    </div>
</nav>
