<h1>Transactions</h1>

Filter: Transaction Type:
<select id="" [(ngModel)]="transactionTypeFilter" (change)="doFilter(this.value)">
    <option value="ALL" >--ALL--</option>
    <option value="CREDIT">CREDIT</option>
    <option value="DEBIT">DEBIT</option>
</select>

<div class="row">
    <div class="col-12">

        <table class="table table-bordered">
            <thead>
                <tr><th>Sno</th><th>Transaction No</th><th>Account No</th> <th>Transaction Type</th> 
                    <th>Amount </th> <th>Transaction Date</th> <th>Comments</th><th>Status</th></tr>

            </thead>
            <tbody>
                <tr *ngFor="let obj of filtedTransactions;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{obj.transactionId}}</td>                    
                    <td>{{obj.accountNo}}</td>
                    <td>{{obj.transactionType}}</td>
                    <td>{{obj.amount}}</td>
                    <td>{{obj.transactionDate}}</td>                    
                    <td>{{obj.comments}}</td>
                    <td>{{obj.status}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>