<h1>My Accounts</h1>

<div class="row">
    <div class="col-12">

        <table class="table table-bordered">
            <thead>
                <tr><th>Sno</th><th>Account No</th> <th>Account Type</th> <th>Balance </th><th>KYC</th> <th>Account Status</th> <th>Action</th></tr>

            </thead>
            <tbody>
                <tr *ngFor="let account of accounts;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{account.accountNo}}</td>
                    <td>{{account.accountType}}</td>
                    <td>{{account.balance}}</td>
                    <td>{{account.kycStatus}}</td>
                    <td>{{account.status}}</td>
                    <td>
                       <button  routerLink="../deposit" class="btn btn-success">Deposit</button>                       &nbsp;
                       <button [disabled]="account.status=='INACTIVE'" routerLink="../withdraw" class="btn btn-secondary">Withdraw</button>                       &nbsp;
                       <a routerLink="../view-transactions" class="btn btn-info">View Transactions</a>                       &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>